.title
  color: #494677
  font-family: Source Sans Pro,Lucida Grande,Tahoma,sans-serif
  font-size: 28px
  font-weight: 600

.closeIcon
  position: absolute
  right: 20px
  top: 20px

.mainContainer
  padding: 30px
  text-align: center

.select
  border: none
  border-bottom: 1px black solid
  outline: none
