@import  "../../../variables.module"
  
.headlineContainer
  display: flex

.title
  color: #494677
  font-family: $text-font-family
  font-size: 28px
  font-weight: 600

.closeIcon
  position: absolute
  right: 20px
  top: 20px

.mainContainer
  text-align: center

.selectContainer
  display: flex
  justify-content: space-evenly
  align-items: center
  margin-bottom: 4%

.selectTitle
  font-family: $text-font-family
  margin-right: 15px

.select
  border: none
  border-bottom: 1px black solid
  outline: none
  width: 100px
  font-family: $text-font-family
