@import "../../../variables.module"

.settings-page
    max-width: 513px
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    


    & .tabs-nav
        padding-top: 0px;



.header-section
    margin-bottom: 30px;
    background: #F7F9FC;
   

    &__title
        font-size: 28px
        color: $blue-gray
        font-weight: 600 
        margin-bottom: 60px;
        margin-top: 20px;  
    