@import './variables.module'

body
  background-color: $main-background-color

.mizuApp
  color: $font-color
  width: 100%

  .header
    height: 60px
    display: flex
    align-items: center
    padding: 5px 24px
    justify-content: space-between

    .title
      letter-spacing: 2px

      img
        height: 45px

    .description
      margin-left: 10px
      font-size: 11px
      font-weight: bold
      color: $light-blue-color

  .centeredForm
    max-width: 500px
    text-align: center
    display: flex
    flex-direction: column
    margin: 0 auto

    .form-input, .form-button
      margin-top: 20px
