.mizuApp
  background-color: #111629
  width: 100%

  .header
    height: 100px
    display: flex
    align-items: center
    padding-left: 24px

    .title
      font-size: 45px
      letter-spacing: 2px

    .description
      margin-left: 10px
      color: rgba(255,255,255,0.5)
      padding-top: 15px
      font-size: 16px