html,
body
  height: 100%

body
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400
  font-size: 90%
  color: #fff
  background-color: #313346
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0
  padding: 0

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

// scroll-bar css

::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-thumb
  background-color: #272d44
  border-radius: 16px

::-webkit-scrollbar-button
  display: none

::-webkit-scrollbar-corner
  display: none
