@import "../../../variables.module"

.Block
    width: 100%
    height: 100%
    display: inline-flex
    align-items: center

.Resizable
    border-right: 1px solid $blue-color
    width: 100%
    height: 100%
    resize: horizontal
    overflow: auto

.Draggable
    background: rgba(1, 1, 1, 0.2)
    border-bottom: 1px solid black
    border-right: 1px solid black
    border-top: 1px solid black
    cursor: col-resize
    height: 20px
    width: 10px
