@import '../../../variables.module'
@import '../../../components'
      

.selectListTable
    overflow: auto
    height: 100%
    user-select: none // when resizble moved we get unwanted beheviour

    table
        width: 100%
        margin-top: 20px
        border-collapse: collapse

        th
            color: $blue-gray
            text-align: left
            padding: 10px
            position: sticky
            top: 0
            background: $main-background-color
            font-size: 12px

        tr
            border-bottom-width: 1px
            border-bottom-color: $data-background-color
            border-bottom-style: solid
            width: 100%

        td
            color: $light-gray
            padding: 10px
            font-size: 11px
            font-weight: 600
            padding-top: 5px
            padding-bottom: 5px

.nowrap
    white-space: nowrap

.totalSelected
  font-size: 12px
  color: $light-blue-color
  font-weight: 700
