.settingsTitle
  text-align: center
  font-size: 32px
  color: #205cf5
  font-weight: 600

.welcomeSubtitle
  font-size: 16px
  color: rgba(0,0,0,0.5)
  font-weight: 600

.namespacesSettingsContainer
  margin-top: 20px
  background-color: #E9EBF8
  border-radius: 4px
  padding: 20px

  .searchNamespace
    outline: 0
    background: white
    border-radius: 20px
    width: 400px
    padding: 5px 10px
    border: none

.settingsActionsContainer
  display: flex
  justify-content: flex-end
  margin-top: 20px
