@import '../../variables.module.scss'

.selectHeader
    display: flex
    align-items: center
    width: 100%

.title
    color:#494677
    font-family:Lato
    font-size: 20px
    font-weight: 600

.selectContainer
    margin-left: 1%

.NotSelectedMessage
    margin-left: 41%
    padding-top: 3%
    font-size: large

.redoc
    height: 90%
    overflow-y: scroll
