@import '../../variables.module.scss'

.boxContainer 
    display: flex
    justifyContent: space-between
    padding: 10px

.selectHeader
    display: flex
    align-items: center
    width: 100%
    margin-top: -1%

.openApilogo
    width: 36px

.title
    color:#494677
    font-family: Lato
    font-size: 20px
    font-weight: 600

.selectContainer
    margin-left: 1%

.redoc
    height: 98%
    overflow-y: scroll

