@import '../../../variables.module'

.user
    &__details
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;


        & .user__email
            width : 40%

        & .user__role
            width : 40%
