@import '../../../variables.module'

@mixin generate-icon
    display: block;
    text-indent: -9999px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 19px;
    background-size: cover;

.invite-link
    &-row
        display: flex
        justify-content: space-between
        align-items: center
        align-content: center

        & .done-btn
            box-sizing: border-box
            height: 30px
            width: 78px

    &-field
        width: 80%
        max-width: 435px
        
.generate-link-button
    &.MuiButtonBase-root
        padding: 6.5px 13px
    &:disabled
        background: #BCC6DD;
        .generate-link-button__icon
            @include generate-icon
            background-image: url('../../assets/copy-disabled.svg')
               
    &__icon
        @include generate-icon
        background-image: url('../../assets/copy-enabled.svg')
        
.user
    &__details
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;


        & .user__email
            width : 300px
            height: 30px;
            box-sizing: border-box;

        & .user__role
            width : 186px

.search-workspace
    width: 186px

.u-input-padding
    & .MuiInputLabel-outlined.MuiInputLabel-marginDense 
        transform: translate(14px, 8px) scale(1);
    & .MuiInputLabel-outlined.MuiInputLabel-shrink
        transform: translate(14px, -6px) scale(0.75);
        font-size: 12px;

    &.MuiOutlinedInput-input, &.MuiSelect-outlined, 
        padding-top: 5.5px
        padding-bottom: 5.5px
        font-size: 12px;