@import '../../../variables.module'

.tryNowHeadersContainer
  width: 100%
  background-color: inherit
  border-radius: 4px
  overflow-x: auto
  overflow-y: auto
  height: 100%
  padding: 10px 0

  .headerRow
    display: flex
    margin: 15px
    align-items: center

.roundInputContainer
  background-color: $main-background-color
  border-radius: 15px
  margin-right: 5px
  padding: 5px

  input
    border: none
    outline: none
    background-color: transparent
    color: $light-gray
    font-size: 15px
    font-weight: 600
    width: 100%
