---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubeshark-nginx-config
  namespace: {{ .Release.Namespace }}
data:
  default.conf: |
    server {
      listen 80;
{{- if .Values.tap.ipv6 }}
      listen [::]:80;
{{- end }}
      add_header Cache-Control no-cache;
      location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
        expires -1;
      }
      error_page   500 502 503 504  /50x.html;
      location = /50x.html {
        root   /usr/share/nginx/html;
      }
    }

