@import '../../../variables.module'

@mixin icon($url)
    background: $url
    background-repeat: no-repeat
    background-position: center

.mui-table
    width: 100%
    margin-top: 20px

    &__tbody
      max-height: calc(70vh - 230px)
      overflow-y: overlay
      display: block

    &__tbody &__tr:hover
      background: $header-background-color

    &__th
      color: $blue-gray
      text-align: left
      padding: 10px

    &__tr
      border-bottom-width: 1px
      border-bottom-color: $data-background-color
      border-bottom-style: solid
      display: table
      table-layout: fixed
      width: 100%

      &--no-data
        display: flex
        width: 100%

        td
          width: 100%     

    &__tr       
        & .mui-table__row-actions
            &--delete
                cursor: pointer;
                path
                    fill:#DB2156 
            &--edit 
                path
                    fill: $blue-color

    &__row-actions
        display: flex
        justify-content: flex-end

    &__action
      cursor: pointer
      display: inline-flex
      height: 17px
      width: 17px
      padding: 6.5px;
           
      &--delete
        margin-left: clamp(10px,15%,20px);
        @include icon(url("../../assets/delete.svg"))
        
        &:hover
          @include icon(url("../../assets/delete-active.svg"))

      &--edit
        @include icon(url("../../assets/edit.svg"))
                
        &:hover
          @include icon(url("../../assets/edit-active.svg"))

    &__td
      color: $light-gray
      padding: 10px
      font-size: 15px
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 600;

@mixin row-actions
        display: flex
        justify-content: flex-end

 