@import '../ServiceMapModal/ServiceMapModal.module'
@import '../../../variables.module'

.modalContainer
    flex-direction: column
    margin: 0 $modalMargin-from-edge
    padding: 0
    overflow-y: auto

.keyValueContainer
    background-color: $content-section-color
    height: 30%
    border-radius: 5px

.sectionHeader
    font-weight: 600
    font-size: 1.2rem

.path
    display: flex

    input
        border-radius: 0 5px 5px 0
        flex: 1
        font-size: 15px
        color: unset
        border-left-width: 0px
        text-indent: 5px

    .hostPort
        border-radius : 0
        border-width: 1px 1px 1px 0px
        
    select
        border-radius: 5px 0 0 5px
        text-transform: uppercase
        flex: 0 0 100px
        text-align: center
        font-size: 15px
        font-weight: 600
.tabs
    margin-top: 25px

.tabContent
    height: 30%
    border-radius: 5px
    margin-top: 15px

.codeEditor
    width: 100%
    position: relative
    height: 300px
    border-radius: inherit
    max-height: 40vh
    min-height: 50px

.executeButton
    text-transform: uppercase
    width: fit-content
    margin-left: 10px

.responseContainer
    height: 80%
    display: flex
    justify-content: center
    align-items: center

.note
    color: $data-background-color
    padding: 10px
    margin-top: 10px
    box-sizing: border-box
    display: flex
    font-style: italic
    font-weight: 300
    background-color: $light-gray
    border-left: solid 4px $failure-color
    line-height: 18px
    overflow: hidden
    
    b::after
       content: '\b'
        display: inline
