.list
  overflow: scroll
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: space-between

.container
  position: relative
  display: flex
  flex-direction: column
  overflow: hidden
  flex-grow: 1
  padding-top: 20px
  background-color: #090b14

.footer
  display: flex
  justify-content: space-between
  border-top: 1px solid rgba(255,255,255,0.5)
  align-items: center
  padding-top: 10px
  margin-top: 10px
  margin-right: 15px