.row
  display: flex
  background: #1c2133
  min-height: 46px
  max-height: 46px
  align-items: center
  padding: 0 8px
  border-radius: 4px
  cursor: pointer
  border: solid 1px transparent
  margin-right: 5px
  &:not(:first-child)
    margin-top: 10px

  &:hover
    border: solid 1px lighten(#4253a5, 20%)

.rowSelected
  border: solid 1px #4253a5

.service
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  color: rgba(255, 255, 255, 0.5)
  padding-left: 4px
  padding-top: 3px
  padding-right: 10px
  display: flex
  font-size: 12px

.timestamp
  font-size: 12px
  color: rgba(255, 255, 255, 0.5)
  padding-left: 8px
  padding-right: 8px
  flex-shrink: 0

.endpointServiceContainer
  color: white
  display: flex
  flex-direction: column
  overflow: hidden
  padding-right: 10px
  padding-left: 10px
  flex-grow: 1