@import "variables.module"

.container
    display: flex
    flex-direction: row
    align-items: center
    min-height: 3rem
    overflow-y: hidden
    overflow-x: auto
    padding: .5rem 0

.filterLabel
    color: #8f9bb2
    margin-right: 6px
    font-size: 11px
    margin-bottom: 4px

.icon
    fill: #627ef7

.filterContainer
    padding-right: 14px
    display: flex
    flex-direction: column

.filterText
  input
    padding: 4px 12px
    background: $main-background-color
    border-radius: 12px
    font-size: 12px
  fieldset
    border: none
