@import 'variables.module'

.base
    display: inline-block
    text-align: center
    font-size: 10px
    font-weight: 600
    // letter-spacing: 2px;
    background-color: #000
    color: #fff
    margin-left: -8px;
    margin-bottom: -4px;

.vertical
    line-height: 22px
    width: 22px
    height: 48px
    border-radius: 4px 0 0 4px
    writing-mode: vertical-lr;
    // transform: rotate(-180deg);
    text-orientation: upright;

.horizontal
    border-radius: 4px
    font-size: 22px
    padding: 5px 10px
    font-weight: 600
