@import 'variables.module.scss'

.StatusBar
    position: absolute
    transform: translate(-50%, -3px)
    left: 50%
    z-index: 9999
    min-width: 200px
    height: 32px
    background: $blue-color
    color: $light-blue-color
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
    top: 0
    display: flex
    align-items: center
    padding: 2px 10px
    user-select: none
    font-size: 14px
    opacity: 0.8
